telegram:

    api_id: '17349'
    api_hash: '344583e45741c457fe1862106095a5eb'
    verbosity: 2
    useragent: 'Zhabogram XMPP Gateway'
    version: '0.4'
    use_test_dc: false
    loglevel: 0
    content_path: '/var/www/tg_media'
    content_link: 'https://localhost/tg_media'
    content_upload_prefix: 'https://localhost/upload'
    
xmpp:

    db_path: 'users.db'
    jid: 'tlgrm.localhost'
    host: 'localhost'
    port: 8899
    secret: 'password'
    loglevel: 0 
