telegram:

    api_id: '845316' # telegram API ID (my.telegram.org) #
    api_hash: '27fe5224bc822bf3a45e015b4f9dfdb7' # telegram API HASH (my.telegram.org) #
    verbosity: 2 # 1 = no verbosity, 2 = moderate verbosity, 3 = network requests debug
    useragent: 'Zhabogram XMPP Gateway' # client name 
    version: '1.0' # client version 
    use_test_dc: false # always use false
    loglevel: 0  # 0 = debug, 1 = info, 2 = warn, 3 = err, 4 = fatal, 5 = unknown (ruby logger class)
    content_path: '/var/zhabogram/content' # we will move (symlink) downloaded content here — you must setup web server that serve this directry
    content_link: 'https://tlgrm.localhost/content' # web server that serve `content_path` internet address  
    content_upload_prefix: 'https://xmppfiles.localhost/upload' # we will send files with URL starting with this string as document to Telegram (mod_http_upload get_url, see readme)
    
xmpp:

    debug: false
    admins:
        - 'root@localhost'
    db_path: 'users.db' # sqlite3 users (JID:Telegram Login) database 
    jid: 'tlgrm.localhost' # component JID 
    host: 'localhost' # XMPP server 
    port: 8888 # component port
    password: 'secret' # component auth secret 
    loglevel: 0  # 0 = debug, 1 = info, 2 = warn, 3 = err, 4 = fatal, 5 = unknown (ruby logger class)

